<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
  <title>Burger Devouring</title>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-10 logo">
      <h1>Eat-Da-Burger!</h1>
      <h3>an online experience</h3>
      <img src="/assets/images/burgerlogo.png" class="logo-image">
    </div>
  </div>
</div>

{{{ body }}}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>